.gift-banner {
  border: solid 2px #6c816d;
  border-radius: 10px;
  overflow: hidden;
  background-color: #6c816d;
  color: #fff;
  margin-left: 10px;
  margin-right: 10px;

  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

.gift-banner-header {
  /* background-color: #b9e4bb; */
  color: #414241;
  padding: 6px;
}

.gift-banner-header {
  color: white;
  font-size: 1.5rem;
}

.gift-banner ul {
  display: inline-block;
  margin: 5px auto;
}

.gift-banner li {
  display: list-item;
  font-size: 1.3rem;
}
