html,
body {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #6c816d;
  width: 100vw;
  height: 100vh;
  padding-top: 20px;
  background-image: linear-gradient(
      to right,
      rgba(255, 216, 58, 0.5),
      rgba(80, 229, 255, 0.5)
    ),
    url("/public/bg.JPG");
}

.App-header {
  color: #6c816d;
  background-color: #f5f8fa;
  padding: 5px;
  -webkit-box-shadow: 10px 18px 29px 0px rgba(0, 0, 0, 0.69);
  -moz-box-shadow: 10px 18px 29px 0px rgba(0, 0, 0, 0.69);
  box-shadow: 10px 18px 29px 0px rgba(0, 0, 0, 0.69);
  border-radius: 20px;
  overflow: hidden;
}

a {
  color: #a38487;
}

a.active,
a:hover {
  color: #6c816d;
}

.button {
  color: #a38487;
  border-color: #a38487;
  background-color: #f0c3c7;
}

.button:hover {
  color: white;
  border-color: #a38487;
  background-color: #a38487;
}

.App-header h2,
h3 {
  color: #f0c3c7;
}

.menino {
  color: #6c816d;
}

.menina {
  color: #a38487;
}

.Modal.open {
  animation: bounce-in 0.4s ease-in;
  animation-fill-mode: both;
}
.Modal.close {
  animation: bounce-out 0.3s ease-in;
  animation-fill-mode: both;
}
@keyframes bounce-in {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes bounce-out {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}
